
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    background-color: #121212;
    color: #ffffff;
  }

  footer{
    position: absolute;
  }

#wrapper {
    max-width: 1200px;
    margin: auto;
    background: linear-gradient(135deg, #121212 0%, #00bcd4 35%, #8e44ad 100%);
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

main {
    min-height: calc(100vh - 80px); /* 100% view height minus the header height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    padding-top: 5rem; /* Space below fixed header */
}



header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  color: #00bcd4;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
    height: 60px; /* Or whatever height fits your content */
    overflow: hidden;
  }
  

.header-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}


  .logo {
    font-size: 1.5rem;
  }

   .contact-btn {
    margin-left: auto;
    padding: 0.5rem 1rem;
    background: transparent;
    color: white;
    border: 2px solid currentColor;
    border-radius: 999px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    
  }

    
 .contact-btn:hover {
   background-color: #008ba3;
    transform: scale(1.05);
    }
  


form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 600px;
    margin: 2em auto;
    padding: 2em;
    background-color: #1e1e1e;
    border: 1px solid #dedede;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

form input, form textarea, form select {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #dedede;
    border-radius: 5px;
    background-color: #f9f9f9;
}

form button {
    padding: 1em;
    background-color: #9e99f7;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

form button:hover {
    background-color: #DDD9F9;
    transform: scale(1.05);
}